<div class="panel-header panel-header-md colorbg">
    <div class="header text-center">
        <h2 class="title">Crear Examen</h2>
    </div>
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary btn-block col-md-2 pull-right" (click)="createQuestion()">
                <i class="now-ui-icons ui-1_simple-add"></i> A&ntilde;adir Pregunta
            </button>

        </div>
        <div class="col-md-12">
            <div *ngFor="let item of questions; let i = index">
                <app-question-format [question]="item" [index]="i + 1"></app-question-format>
                <button class="btn btn-primary btn-block col-md-3 pull-right" (click)="deleteQuestion(i)">
                    <i class="now-ui-icons ui-1_simple-remove"></i> Eliminar Pregunta {{i + 1}}
                </button>
            </div>
        </div>
        <div class="col-md-12">
            <button class="col-md-2 pull-right btn btn-primary" (click)="register()">
                <i class="now-ui-icons ui-1_send"></i> Enviar Examen
            </button>
        </div>
    </div>
</div>