<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Lista de Estudiantes</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Nombre
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let item of students">
                  <td>
                    <a (click)="goExamSolved(item.student.id, item.testId)">
                      {{item.student.firstName}} {{item.student.lastName}}
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>