<div class="panel-header panel-header-md colorbg">
  <div class="header text-center">
    <h2 class="title">Cursos</h2>
    <p class="category">Lista de cursos disponibles
    </p>
  </div>
</div>

<div class="main-content">
  <div class="row">
    <div *ngFor="let course of courses" class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="../assets/img/bg5.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">EVA 2/18</h4>
          <p class="card-text">Curso de la materia de entornos virtuales de aprendizaje para la gestion 2- 2018.</p>
          <a [routerLink]="['/course-description', course]" class="btn btn-primary">Mas informacion</a>
        </div>
      </div>
    </div>
  </div>
</div>