<div class="panel-header panel-header-md colorbg">
    <div class="header text-center">
        <h2 class="title">Crear Curso</h2>
    </div>
</div>
<div class="main-content">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-md-11 pr-1 ">
                        <div class="form-group">
                            <div class="form-group">
                                <span class="input-group-addon" id="basic-addon1">Nombre</span>
                                <input class="form-control" placeholder="Nombre" aria-describedby="basic-addon1"
                                    [(ngModel)]="course.name" name="name">
                            </div>
                            <br>
                            <div class="form-group">
                                <span class="input-group-addon" id="basic-addon1">Docente</span>
                                <input class="form-control" placeholder="Docente" aria-describedby="basic-addon1"
                                    [(ngModel)]="course.teacher" name="teacher">
                            </div>
                            <div class="form-group">
                                <span class="input-group-addon" id="basic-addon1">Fecha
                                    Inicio(Mes-D&iacute;a-A&ntilde;o)</span>
                                <input class="form-control" placeholder="Fecha Inicio" aria-describedby="basic-addon1"
                                    [(ngModel)]="course.startDate" name="startDate">
                            </div>
                            <div class="form-group">
                                <span class="input-group-addon" id="basic-addon1">Fecha
                                    Fin(Mes-D&iacute;a-A&ntilde;o)</span>
                                <input class="form-control" placeholder="Fecha Fin" aria-describedby="basic-addon1"
                                    [(ngModel)]="course.endDate" name="endDate">
                            </div>
                            <div class="form-group">
                                <span class="input-group-addon" id="basic-addon1">Description</span>
                                <textarea class="form-control" placeholder="Description" aria-describedby="basic-addon1"
                                    [(ngModel)]="course.description" name="description"></textarea>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary" (click)="register()">
                                    <span aria-hidden="true"></span> Crear
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>