<div class="panel-header panel-header-md colorbg">
  <div class="header text-center">
    <h2 class="title">{{course.name}}</h2>
  </div>
</div>

<div class="main-content">
  <div class="row">
    <div class="col"></div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <p class="card-text big-text">{{course.description}}</p>
          <table class="table">
            <thead>
              <tr>
                <th>Lista de contenidos del curso</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of course.contents">
                <td>{{item}}</td>
              </tr>
            </tbody>
          </table>
          <a class=" float-right btn boton" (click)="register()">Registrarse al curso</a>
          <a class=" float-right btn boton" *ngIf="userRole == 'Docente'" [routerLink]="['/register-exam', course.courseId]">Crear un examen</a>
        </div>
      </div>
    </div>
  </div>
</div>