<div class="panel-header panel-header-md colorbg">
    <div class="header text-center">
        <h2 class="title">{{exam.title}}</h2>
        <p class="category">{{exam.description}}</p>
    </div>
</div>
<div class="main-content">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="card" *ngFor="let question of questions; let i = index">
                        <div class="card-body">
                            <span class="input-group-addon" id="basic-addon1">{{i + 1}}.- {{question.value}}</span>
                            <div class="card-body center-block">
                                <select class="form-control" (change)="onChange(i, $event.target.value)">
                                    <option>Select...</option>
                                    <option *ngFor="let answer of question.answers" [value]="answer.asnwerId">
                                        {{answer.value}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="panel-footer">
                        <div class="btn-group">
                            <button type="button pull-" class="btn btn-block btn-primary" (click)="registerExam()">
                                <i class="now-ui-icons ui-1_send"></i> Enviar Examen
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>